/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/FondJapon.png');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
}

nav {
    background-color: #ffffff;
    padding: 10px;
    text-align: center; /* Center the content in the header */
    max-width: 1200px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Futura', sans-serif;
    font-size: 1.5em; /* Ajustez la taille selon vos besoins */
}

a:hover {
    color: #3c3a6a;
}

section {
    margin-bottom: 150px;
}

.article {
    margin-bottom: 20px;
    padding: 20px;
}

section:last-child {
    margin-bottom: 0;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

header {
    border-bottom: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
}